.name:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: orangered;
}
.name{
    font-size: 40px;
    font-weight: 1000;
    font-family: Mistral;
}
.slash{
    font-size: 35px;
}
.nav-link{
    font-family: Bradley Hand ITC;
    font-size: 25px;
    font-weight: bolder;
}
.d-flex{
    flex-wrap: wrap;
}
@media screen and (max-width:1024px){
    .slash{
        display: none;
    }
}