<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <div class="d-flex">
            <div>
               <span class="ml-sm-5 name">Shivani Singh</span>
            </div>
            <div>
                <span class="mx-3 slash text-secondary">/</span> <span class="hrm text-secondary">HUMAN RESOURCE MANAGER</span>
            </div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-right ml-auto mr-5">
        <li class="nav-item ml-3 active">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About Me</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="resume" routerLinkActive="active">Resume</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="achievements" routerLinkActive="active">Achievements</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
      </ul>
    </div>
  </nav>