<div class="main d-flex">
    <div class="profile">
        <div>
            <img src="/assets/images/profile.jpeg" class="rounded-circle my-5" alt="profile pic" height="200px">
        </div>
        <div class="name">
            <div>Shivani Singh</div>
            <hr class="line">
        </div>
        <div class="text-secondary hrm">
            HUMAN RESOURCE MANAGER
        </div>
        <div class="socail-links mt-5 bg-white">
            <div class="d-flex py-3 justify-content-center mx-auto">
                <div>
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro pl-sm-5">
        <div>
            <span class="hello">Hello ,</span>
        </div>
        <div class="mt-3">
            <span>Here's who I am and what I do ..!</span>
        </div>
        <div>
            <div class="d-flex my-5 links">
                <button class="resume btn border btn-danger">Resume</button>
                <button class="ml-sm-3 achievements border btn btn-white">Achievements</button>
            </div>
        </div>
        <div>
            I puruing my Post Graduation in Master of Bunisess Administration (MBA)
            from Pune Institue of Business & Management (PIBM) with Human Resource Management (HR)
            as my Major.
        </div>
        <div class="mt-3">
            Believes in Graditude, open for challenges and reday to acquire new opprortunities.
        </div>
    </div>
</div>