.m-0{
    background-image: linear-gradient(to right,rgba(230, 218, 206, 1) 0%, rgba(230, 218, 206, 1) 50%,rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
}
span:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: orangered;
}
span{
    font-family: Mistral;
    font-weight: 1000;
    font-size: 50px;
}
form{
    width: 50%;
    box-shadow: 10px 10px 10px grey;
}
.name, .email{
    width: 400px;
}
div.form-group.required>label:first-child:after{
    content:'*';
    color: orangered;
    padding-left: 5px;
}
@media screen and (max-width:1024px){
    form{
        width: 90%;
    }
    .name, .email{
        width: 100%;
    }
}
