<div class="m-0 pb-4">
    <div class="text-center mx-auto py-5">
        <span>Let's  &nbsp;  Talk ..!</span>
    </div>
    <form [formGroup]="contactForm" autocomplete="off" (submit)="onSubmit()" class="mx-auto p-5 bg-white">
        <div class="form-group required">
            <label>Name</label>
            <input class="form-control name" formControlName="name">
            <label class="text-danger"
                *ngIf="contactForm.get('name').touched && contactForm.get('name').errors?.required">
                Required Field
            </label>
            <label class="text-danger"
                *ngIf="contactForm.get('name').touched && contactForm.get('name').errors?.pattern">
                Only Characters are Allowed
            </label>
        </div>
        <div class="form-group required">
            <label>Email</label>
            <input class="form-control email" formControlName="email">
            <label class="text-danger"
                *ngIf="contactForm.get('email').touched && contactForm.get('email').errors?.required">
                Required Field
            </label>
            <label class="text-danger" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors?.email">
                Invalid email
            </label>
        </div>
        <div class="form-group required">
            <label>Subject</label>
            <input class="form-control" formControlName="subject">
            <label class="text-danger"
                *ngIf="contactForm.get('subject').touched && contactForm.get('subject').errors?.required">
                Required Field
            </label>
        </div>
        <div class="form-group required">
            <label>Message</label>
            <textarea class="form-control" formControlName="message" cols="30" rows="7"></textarea>
            <label class="text-danger"
                *ngIf="contactForm.get('message').touched && contactForm.get('message').errors?.required">
                Required Field
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Send</button>
        </div>
    </form>
</div>