<nav class="navbar navbar-right d-flex px-sm-5 py-4">
    <div>
        <div>
            &copy; 2020 by <span>Siddharth Raghuvanshi</span>
        </div>      
        <div class="mt-1 heading" id="sid"> 
            Senior Software Developer
        </div>
    </div>
    <div class="d-flex text-center">
        <div>
            <div class="heading">Contact</div>
            <div class="mt-1">7985825376</div>
        </div>
        <div class=" mx-5">
            <div class="heading">Write</div>
            <div class="mt-1">maddy362436sid@gmail.com</div>
        </div>
        <div>
            <div class="heading">Follow</div>
            <div class="d-flex mt-1">
                <div>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
                <div class="ml-4">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</nav>